
node_modules
npm-debug.log*

.env
.env.*
!.env.example


logs
*.log

.git
.gitignore

.vscode
.idea
.kimchi


.DS_Store
Thumbs.db


docs
test




tmp
temp
.cache


Dockerfile
.dockerignore

data

project-documents