# ==========================
# Server Configuration
# ==========================

PORT=
NODE_ENV=
LLM_PROVIDER=

# ==========================
# Azure OpenAI
# ==========================

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=
AZURE_OPENAI_API_DEPLOYMENT_NAME=
AZURE_OPENAI_EMBEDDING_API_DEPLOYMENT_NAME=
AZURE_OPENAI_API_INSTANCE_NAME=

# ==========================
# Logging
# ==========================

LOG_LEVEL=

#===========================
# vector store
#===========================
VECTOR_STORE_PROVIDER=
DATABASE_URL=
DB_POOL_MAX=

#===========================
# Client 
#===========================
CLIENT_URL=

#============================
# Redis
#============================
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=